@charset "utf-8";
@import "compass/css3";
@import "reset";

@mixin yahei(){
	font-family:"Microsoft YaHei";
}
body{
	background: #ffe059;
	@include yahei();
	@include box-sizing(border-box);
}
.banner,.rolebg,.footer{
	width: 100%;
	img{
		width: 100%;
	}
}
.count{
	padding: 0 0.2rem;
	margin: 20px 0;
	p{
		font-size: 0.34rem;
		font-weight: bold;
		color: #ED1C25;
		text-align: right;
		line-height:1.2
	}
	div{
		overflow: hidden;
		ul{
			li{
				float: left;
				font-size: 0.3rem;
				color: #ED1C25;
				margin-left: 3px;
				padding-top: 10px;
				&.time{
					color: #fff;
					font-size: 0.4rem;
					background: #ED1C25;
					padding: 10px 5px;
					@include border-radius(5px);
				}
			}
		}
	}
}
.timeout{
	 background: url(../images/time.png) no-repeat 0 1rem;
	 background-size: 100%;
	 height: 2rem;
	 margin-bottom: 35px;
	 ul{
		padding-left: 0.6rem;
	 	@include box-sizing(border-box);
	 	li{
	 		float: left;
	 		font-size: 12px;
	 		width: 20%;
	 		position: relative;
	 		h2{
    			padding: 2px;
	 			background:#FAAB00;
	 			color: #fff;
	 			width: 36px;
	 			@include border-radius(5px);
	 		}
	 		p{
	 			font-weight: bold; 
	 			color: #FAAB00;
	 			display: inline-block;
	 			 padding: 5px 0;
	 		}
	 		p.frist{
	 			margin-top: 8px;
			    border-radius: 10px;
	 		}
	 		p.senced{
	 			margin-top:0.9rem;
			    border-radius: 10px;
	 			margin-left: 0.4rem;
	 		}
	 		&:last-of-type{	
				margin:0;
	 		}
	 	}
	 	li.active{
	 		h2{background: #ED1B25}
	 		p.hotAc{
	 			background: url(../images/ico.png) no-repeat #ED1B25 6px;
			    color: #FAD0A4;
			    background-size: 10px;
			    padding: 5px 6px 5px 19px;
			    border-radius: 10px;
	 		}
	 	}
	 }
}
.btn{
	display: none;
	text-align: center;
	padding: 0 10px;
	width: 100%;
	margin: 20px 0;
	@include box-sizing(border-box);
	p{
		padding: 10px 0;
		background:#ED1B24;
		font-size: 0.36rem;
		color: #fff;
		@include border-radius(10px);
	}
}
.footer{
	img{
		vertical-align: top;
	}
}





.coutTimeout {
	display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    p {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    font-size: 3rem;
	    margin-left: -10%;
	    margin-top: -1.5rem;
	    color: #FE0000;
	    font-family: 'Consolas';
	}
}



.bg,.bg1{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    p{
    	position: absolute;
	    width: 80%;
	    top: 50%;
	    left: 50%;
	    font-size: 3rem;
	    margin-left: -40%;
	    margin-top: -1.5rem;
	    color: #FE0000;
	    font-family: 'Consolas';
	    img{
	    	width: 100%;
	    }
    }
}









.mt10{margin-top: 10px}
.btm{
	position: fixed;
	bottom: -5px;
	left:0;
	width: 100%;
	    z-index: -1;
	img{
		width: 100%
	}
}
.cen{margin: 20px auto 0 auto;}
.winningMsg{
	padding: 2rem;
	padding-top: 3rem;
	color: #F15F2C;
	line-height: 24px;
	.imgIco{
		width: 90px;
		margin: 0 auto;
		img{
			width: 100%;
		}
	}
	h2{
		margin-top:20px;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		span{
			font-size: 22px;
			padding: 0 5px;
		}
	}
	p{
		font-size: 14px;
	}
}
h2.textLeft{text-align: left}