/*Reset*/
/* line 3, ../scss/_reset.scss */
html, body, div, span, applet, input, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 4, ../scss/_reset.scss */
html { line-height: 1; }

/* line 5, ../scss/_reset.scss */
ol, ul { list-style: none; }

/* line 6, ../scss/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 7, ../scss/_reset.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 8, ../scss/_reset.scss */
q, blockquote { quotes: none; }

/* line 9, ../scss/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 10, ../scss/_reset.scss */
a { text-decoration: none; -webkit-tap-highlight-color: transparent; }

/* line 11, ../scss/_reset.scss */
a img { border: none; }

/* line 12, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*tools*/
/* line 15, ../scss/_reset.scss */
.fix:after { display: block; content: "$"; height: 0; clear: both; overflow: hidden; visibility: hidden; }

/* line 16, ../scss/_reset.scss */
ul.fix li { float: left; }

/* line 17, ../scss/_reset.scss */
.l { float: left; }

/* line 18, ../scss/_reset.scss */
.r { float: right; }

/* line 19, ../scss/_reset.scss */
.cell { display: table-cell; width: 2000px; }

/* line 8, ../scss/style.scss */
body { background: #ffe059; font-family: "Microsoft YaHei"; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* line 13, ../scss/style.scss */
.banner, .rolebg, .footer { width: 100%; }
/* line 15, ../scss/style.scss */
.banner img, .rolebg img, .footer img { width: 100%; }

/* line 19, ../scss/style.scss */
.count { padding: 0 0.2rem; margin: 20px 0; }
/* line 22, ../scss/style.scss */
.count p { font-size: 0.34rem; font-weight: bold; color: #ED1C25; text-align: right; line-height: 1.2; }
/* line 29, ../scss/style.scss */
.count div { overflow: hidden; }
/* line 32, ../scss/style.scss */
.count div ul li { float: left; font-size: 0.3rem; color: #ED1C25; margin-left: 3px; padding-top: 10px; }
/* line 38, ../scss/style.scss */
.count div ul li.time { color: #fff; font-size: 0.4rem; background: #ED1C25; padding: 10px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* line 49, ../scss/style.scss */
.timeout { background: url(../images/time.png) no-repeat 0 1rem; background-size: 100%; height: 2rem; margin-bottom: 35px; }
/* line 54, ../scss/style.scss */
.timeout ul { padding-left: 0.6rem; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 57, ../scss/style.scss */
.timeout ul li { float: left; font-size: 12px; width: 20%; position: relative; }
/* line 62, ../scss/style.scss */
.timeout ul li h2 { padding: 2px; background: #FAAB00; color: #fff; width: 36px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 69, ../scss/style.scss */
.timeout ul li p { font-weight: bold; color: #FAAB00; display: inline-block; padding: 5px 0; }
/* line 75, ../scss/style.scss */
.timeout ul li p.frist { margin-top: 8px; border-radius: 10px; }
/* line 79, ../scss/style.scss */
.timeout ul li p.senced { margin-top: 0.9rem; border-radius: 10px; margin-left: 0.4rem; }
/* line 84, ../scss/style.scss */
.timeout ul li:last-of-type { margin: 0; }
/* line 89, ../scss/style.scss */
.timeout ul li.active h2 { background: #ED1B25; }
/* line 90, ../scss/style.scss */
.timeout ul li.active p.hotAc { background: url(../images/ico.png) no-repeat #ED1B25 6px; color: #FAD0A4; background-size: 10px; padding: 5px 6px 5px 19px; border-radius: 10px; }

/* line 100, ../scss/style.scss */
.btn { display: none; text-align: center; padding: 0 10px; width: 100%; margin: 20px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 107, ../scss/style.scss */
.btn p { padding: 10px 0; background: #ED1B24; font-size: 0.36rem; color: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

/* line 116, ../scss/style.scss */
.footer img { vertical-align: top; }

/* line 125, ../scss/style.scss */
.coutTimeout { display: none; background: rgba(0, 0, 0, 0.8); width: 100%; height: 100%; position: fixed; top: 0; left: 0; }
/* line 133, ../scss/style.scss */
.coutTimeout p { position: absolute; top: 50%; left: 50%; font-size: 3rem; margin-left: -10%; margin-top: -1.5rem; color: #FE0000; font-family: 'Consolas'; }

/* line 147, ../scss/style.scss */
.bg, .bg1 { background: rgba(0, 0, 0, 0.8); width: 100%; height: 100%; position: fixed; top: 0; left: 0; }
/* line 154, ../scss/style.scss */
.bg p, .bg1 p { position: absolute; width: 80%; top: 50%; left: 50%; font-size: 3rem; margin-left: -40%; margin-top: -1.5rem; color: #FE0000; font-family: 'Consolas'; }
/* line 164, ../scss/style.scss */
.bg p img, .bg1 p img { width: 100%; }

/* line 178, ../scss/style.scss */
.mt10 { margin-top: 10px; }

/* line 179, ../scss/style.scss */
.btm { position: fixed; bottom: -5px; left: 0; width: 100%; z-index: -1; }
/* line 185, ../scss/style.scss */
.btm img { width: 100%; }

/* line 189, ../scss/style.scss */
.cen { margin: 20px auto 0 auto; }

/* line 190, ../scss/style.scss */
.winningMsg { padding: 2rem; padding-top: 3rem; color: #F15F2C; line-height: 24px; }
/* line 195, ../scss/style.scss */
.winningMsg .imgIco { width: 90px; margin: 0 auto; }
/* line 198, ../scss/style.scss */
.winningMsg .imgIco img { width: 100%; }
/* line 202, ../scss/style.scss */
.winningMsg h2 { margin-top: 20px; font-size: 16px; font-weight: bold; text-align: center; }
/* line 207, ../scss/style.scss */
.winningMsg h2 span { font-size: 22px; padding: 0 5px; }
/* line 212, ../scss/style.scss */
.winningMsg p { font-size: 14px; }

/* line 216, ../scss/style.scss */
h2.textLeft { text-align: left; }
